body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* font-family: 'Ubuntu', sans-serif; */
}
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
    margin: auto;
}
h3{
    font-size: 1.5rem;
}
/* Heading section */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}
/* Background section */
.colored-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: white;
}
/* Navigation bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}
/* Title section */
#title{
    text-align: left;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* Download area */
.title-download{
    margin-top: 5%;
    margin-right: 3%;
}
.rotated {
    transform: rotate(25deg);
  }
#iphone-mockup{
    width: 60%;
    left: 24%;
    top: 8%;
    position: absolute;
}
/* Features section */
#features{
    position: relative;
}
.feature-section div{
    margin-top: 10%;
    margin-bottom: 10%;
}
.features-icon{
    color:#ef8172;
    font-size: 4.5rem;

    margin-bottom: 1rem;
}
.features-icon:hover{
    color: #ff4c68;
}
#features p{
    color: #8f8f8f;
}
/* Testimonial Section */
#testimonials{
    background-color: #ef8172;
}
.carousel-item{
    margin: 7% 15%;
    width: auto;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* Press section */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#press div{
    width: 15%;
    padding: 20px 20px 50px;
}
.press-image{
    width: 100%;
}
/* Pricing section */
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
/* CallToAction Section */
#cta{
    padding-top: 5%;
}
#cta h2{
    width: 70%;
}
.cta-download{
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 7%;
}
/* Footer Section */
#footer i{
    margin-top: 7%;
    margin-right: 2%;
    margin-bottom: 1%;
}
#footer p{
    color:#8f8f8f;
}
@media (max-width:1018px)
{
    #title{
        text-align: center;
    }
    .rotated {
        transform: rotate(0);
      }
    #iphone-mockup{
        position: static;
        margin-top: 8%;
    }
}